body { background-color: rgba(255, 228, 196, 0.86);
    margin: 0;
    text-align: center;
}

h1 {
    padding: .5em;
}

h1>a {
    font-size: 50px;
    
}

h2 {
    font-size:45px;
    color: rgb(14, 150, 228);
    padding-bottom: .3em;
}

div {
    display: inline-block


}

:any-link:hover  {
    color: hsl(261, 38%, 51%);
}
a { font-size: 25px;

}