body { background-color: rgba(255, 228, 196, 0.86);
    margin: 0;
    text-align: center;
}

h1 {
    font-size: 60px;
    padding-bottom: .3em;
}

h2 {
    font-size:40px;
    color: rgb(14, 150, 228);
    padding-bottom: .3em;
}

div {
    display: inline-block

}